body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

header {
    display: flex;
    background-color: chocolate;
    justify-content: flex-end;
}

header p {
    color: white;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

header button {
    height: 50px;
    width: 100px;
    margin: 5px 5px;
    color: blueviolet;
    background-color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.top-banner {
    display: flex;
    background-image: url(images/shapes/top-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}