body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

header {
    height: 50px;
    width: auto;
    display: flex;
    background-color: rgb(121, 88, 65);
    justify-content: flex-end;
}

header p {
    color: white;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

header .top-btn {
    padding: 16px 32px;
    margin: 5px 5px;
    color: rgb(247, 244, 250);
    background-color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.top-banner {
    display: flex;
    background-image: url(images/shapes/top-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.intro-text {
    margin-left: 50px;
    margin-top: 250px;
}

.text-color {
    color: rgb(252, 139, 71);
}

.intro-text h1 {
    color: rgb(87, 87, 87);
    font-size: 50px;
}

.intro-text p {
    color: rgb(130, 130, 130);
    font-size: 20px;
}

button {
    padding: 20px 35px;
    border: none;
    border-radius: 30px;
    background-image: linear-gradient(#FC8F4A, #FE4A2F);
    cursor: pointer;
}

button a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.about {
    display: flex;
    background-image: url(images/shapes/about.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.about-img img {
    width: 300px;
    height: auto;
    margin-left: 200px;
    margin-top: 50px;
    margin-right: 200px;
}

.about-text {
    margin-top: 150px;
    margin-right: 150px;
}

.about-text h1 {
    color: rgb(87, 87, 87);
    font-size: 30px;

}

.about-text p {
    color: rgb(22, 25, 30);
    margin-bottom: 60px;
    font-size: 15px;
    text-align: justify;
}