body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    box-sizing: border-box;
}

header {
    height: 50px;
    width: auto;
    display: flex;
    background-color: rgb(121, 88, 65);
    justify-content: flex-end;
}

header p {
    color: white;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

header .top-btn {
    padding: 16px 32px;
    margin: 5px 5px;
    color: rgb(247, 244, 250);
    background-color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.top-banner {
    display: flex;
    background-image: url(images/shapes/top-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.intro-text {
    margin-left: 50px;
    margin-top: 250px;
}

.text-color {
    color: rgb(252, 139, 71);
}

.intro-text h1 {
    color: rgb(87, 87, 87);
    font-size: 50px;
}

.intro-text p {
    color: rgb(130, 130, 130);
    font-size: 20px;
}

button {
    padding: 20px 35px;
    border: none;
    border-radius: 30px;
    background-image: linear-gradient(#FC8F4A, #FE4A2F);
    cursor: pointer;
}

button a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.about {
    display: flex;
    background-image: url(images/shapes/about.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.about-img img {
    width: 300px;
    height: auto;
    margin-left: 200px;
    margin-top: 50px;
    margin-right: 200px;
}

.about-text {
    margin-top: 150px;
    margin-right: 150px;
}

.about-text h1 {
    color: rgb(87, 87, 87);
    font-size: 30px;

}

.about-text p {
    color: rgb(22, 25, 30);
    margin-bottom: 60px;
    font-size: 15px;
    text-align: justify;
}

.my-text h2 {
    color: rgb(87, 87, 87);
    font-size: 30px;
    text-align: center;
}

.my-text p {
    color: rgb(22, 25, 30);
    font-size: 15px;
    text-align: center;
}

.row {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 80px;
    content: "";
    display: table;
    clear: both;
    text-align: center;

}

.column {
    display: inline-flex;
    width: 30%;
    padding: 0 10px;
}

.card {
    height: 520px;
    border-radius: 20px;
    box-shadow: 0px 4px 8px 5px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 350px;
    height: auto;
    padding: 20px;

}

.card h2 {
    padding-left: 20px;
    text-align: start;
}

.card p {
    padding-left: 20px;
    padding-right: 50px;
    padding-bottom: 5px;
    line-height: 1.5em;
    text-align: start;
}

.count {
    display: flex;
    margin: 50px 60px;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0px 4px 8px 5px rgba(0, 0, 0, 0.2);
}

.c-text {
    padding-right: 100px;
    padding-left: 100px;
}

.c-text h1 {
    color: rgb(24, 25, 30);
    margin-bottom: 0px;
    font-size: 40px;
}

.c-text p {
    padding-bottom: 20px;
    margin-top: 5px;
}

#contact {
    width: 100%;
    display: inline-block;
    border-radius: 5px;
    background-color: #f2f2f2;

}

h1 {
    margin-bottom: 50px;
    text-align: center;
}

.shadow {
    height: 420px;
    width: 500px;
    display: inline-block;
}

.hoy {
    width: 100%;
    margin-left: 420px;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.shadow form label {
    color: #15032a;
    font-size: 16px;
    font-weight: bold;
}

input[type=submit] {
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 20px 35px;
    border: none;
    border-radius: 30px;
    background-image: linear-gradient(#FC8F4A, #FE4A2F);
    cursor: pointer;
}